@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Fiction Street<br />
    Edina, MN 55435<br />
    <abbr title="Phone">P:</abbr>
    952.555.0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:oidvous@outlook.com">oidvous@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:oidvous@outlook.com">oidvous@outlook.com</a>
</address>