body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2.3em;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

/* Customizations */

.logo {
	margin-top: 0.6em;
	margin-right: 0.5em;
	resize: both;
}

.navbar-inverse {
	background: #007ACC;
	border: none;
	/*-webkit-box-shadow: 0 8px 6px -6px #999;
	-moz-box-shadow: 0 8px 6px -6px #999;*/
	box-shadow: 0 0.23em 0.4em 0 #999;
}

.navbar-inverse .navbar-brand {
	color: #fff;
	font-size: 1.3em;
	float:right;
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff;
	opacity: 0.7;
	/*font-size:1.0em;
	font-weight:600;*/
}

.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:active,.navbar-inverse .navbar-nav>li>a:focus {
	/*font-size:1.1em;*/
	color: #fff;
	opacity: 1.0;
	text-shadow: 0 0 1em rgba(255,255,0,0.5);
}

.wrapped {
	border: 0.15em solid #666666;
	border-radius: 0.8em;
	padding: 1em;
	margin-bottom: 1em;
}

.wrapped ul {
	list-style: none;
}
